* {
    font-family: sans-serif;
}

body,
body > * {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fafafa;
}

.name {
    color: #ff1d8d;
}

.content {
    width: 40%;
    height: fit-content;
    background-color: #e7e7e7;
    border: black 1px solid;
    border-radius: 10px;
    padding: 10px;
    min-width: 350px;
}

h1 {
    margin: 5px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    border-bottom: black 1px solid;
}

.longText {
    width: 100%;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 450px;
}

.cardboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    background-color: #fafafa;
    margin: 5px 0px 15px 10px;
    padding: 10px;
    border: black 1px solid;
}

.item > p {
    line-height: 21px;
}

a {
    transition: .2s;
}

.links > a {
    width: fit-content;
    line-height: 30px;
    padding: 5px;
    text-decoration: none;
    color: black;
    border: black 1px solid;
}

a:hover {
    background-color: #ff1d8d;
    transition: .2s;
    color: #fafafa;
}

.tools {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 7px;
}

.tools > * {
    margin: 0 10px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    background-color: #fafafa;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

.footerContainer {
    flex-direction: row;
    background-color: #e7e7e7;
    border-bottom: 0px;
    padding: 0px;
}

footer > a {
    background-color: #fafafa;
    padding: 10px;
    border: black 1px solid;
}